@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Segoe UI, Roboto, system-ui, -apple-system, Arial, sans-serif;
  background-color: #0A0F1E;
  color: #EAEAEA;
}

/* scroll bar */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background: #1e273b; border-radius: 999px; }
::-webkit-scrollbar-track { background: transparent; }

/* animações */
@keyframes gradientMove {
  0%,100% { transform: translateY(-10%); }
  50% { transform: translateY(10%); }
}
.animate-gradient { animation: gradientMove 8s ease-in-out infinite; }

body {
  background-color: #0B0F19;
}

